*/node_modules
node_modules/
node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test

.DS_Store
yarn.lock
package-lock.json

.venv/

notebook/.ipynb_checkpoints/
notebook/.ipynb_checkpoints/*
.ipynb_checkpoints